ackermann-msgs==2.0.2
action-msgs==2.0.3
action-tutorials-interfaces==0.33.6
action-tutorials-py==0.33.6
actionlib-msgs==5.3.6
actuator-msgs==0.0.1
ament-cmake-test==2.5.4
ament-copyright==0.17.3
ament-cppcheck==0.17.3
ament-cpplint==0.17.3
ament-flake8==0.17.3
ament-index-python==1.8.1
ament-lint==0.17.3
ament-lint-cmake==0.17.3
ament-package==0.16.4
ament-pep257==0.17.3
ament-uncrustify==0.17.3
ament-xmllint==0.17.3
angles==1.16.0
anyio==4.9.0
apriltag-msgs==2.0.1
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1737352602016/work
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
aruco-msgs==5.0.5
aruco-opencv-msgs==6.0.2
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.4
bleach==6.2.0
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1749686179973/work
bond==4.1.2
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1749229842835/work
builtin-interfaces==2.0.3
catkin-pkg==1.0.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1749972191589/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560558132/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm==0.2.2
composition-interfaces==2.0.3
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1749201738742/work/conda-src
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1745834476052/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1736345463896/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1741620732069/work
control-msgs==5.5.0
controller-manager==4.35.0
controller-manager-msgs==4.35.0
cv-bridge==4.1.0
debugpy==1.8.15
decorator==5.2.1
defusedxml==0.7.1
demo-nodes-py==0.33.6
diagnostic-msgs==5.3.6
diagnostic-updater==4.2.6
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
docutils==0.21.2
domain-coordinator==0.12.0
dwb-msgs==1.3.7
example-interfaces==0.12.0
examples-rclpy-executors==0.19.6
examples-rclpy-minimal-action-client==0.19.6
examples-rclpy-minimal-action-server==0.19.6
examples-rclpy-minimal-client==0.19.6
examples-rclpy-minimal-publisher==0.19.6
examples-rclpy-minimal-service==0.19.6
examples-rclpy-minimal-subscriber==0.19.6
executing==2.2.0
fastjsonschema==2.21.1
fqdn==1.5.1
frozendict @ file:///home/conda/feedstock_root/build_artifacts/frozendict_1728841327252/work
generate-parameter-library-py==0.5.0
geographic-msgs==1.0.6
geometry-msgs==5.3.6
gps-msgs==2.1.1
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.9
httpx==0.28.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
image-geometry==4.1.0
interactive-markers==2.5.4
ipykernel==6.29.5
ipython==9.4.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
joint-state-publisher==2.4.0
json5==0.12.0
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1725302935093/work
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
laser-geometry==2.7.1
launch==3.4.6
launch-param-builder==0.1.1
launch-ros==0.26.8
launch-testing==3.4.6
launch-testing-ros==0.26.8
launch-xml==3.4.6
launch-yaml==3.4.6
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_libmambapy_1750078835/work/libmambapy
lifecycle-msgs==2.0.3
logging-demo==0.33.6
lxml==6.0.0
map-msgs==2.4.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1731146972698/work
message-filters==4.11.7
mistune==3.1.3
moveit-configs-utils==2.12.3
moveit-msgs==2.6.0
nav-2d-msgs==1.3.7
nav-msgs==5.3.6
nav2-common==1.3.7
nav2-msgs==1.3.7
nav2-simple-commander==1.0.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.4.4
notebook_shim==0.2.4
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
osrf-pycommon==2.1.7
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pal-statistics==2.6.4
pal-statistics-msgs==2.6.4
pandocfilters==1.5.1
parso==0.8.4
pcl-msgs==1.0.0
pendulum-msgs==0.33.6
pexpect==4.9.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1747339660894/work
prometheus_client==0.22.1
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1732588402431/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
Pygments==2.19.2
pyparsing==3.2.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
python-qt-binding==2.2.1
PyYAML==6.0.2
pyzmq==27.0.0
qt-dotgraph==2.7.5
qt-gui==2.7.5
qt-gui-cpp==2.7.5
qt-gui-py-common==2.7.5
quality-of-service-demo-py==0.33.6
rcl-interfaces==2.0.3
rclpy==7.1.5
rcutils==6.7.3
realsense2-camera-msgs==4.56.4
referencing==0.36.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1749498106507/work
resource-retriever==3.4.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rmw-dds-common==3.1.0
robot-localization==3.8.2
ros-gz-bridge==1.0.16
ros-gz-interfaces==1.0.16
ros-gz-sim==1.0.16
ros2action==0.32.5
ros2bag==0.26.9
ros2bag-mcap-cli==0.26.9
ros2bag-sqlite3-cli==0.26.9
ros2cli==0.32.5
ros2component==0.32.5
ros2controlcli==4.35.0
ros2doctor==0.32.5
ros2interface==0.32.5
ros2launch==0.26.8
ros2lifecycle==0.32.5
ros2multicast==0.32.5
ros2node==0.32.5
ros2param==0.32.5
ros2pkg==0.32.5
ros2run==0.32.5
ros2service==0.32.5
ros2topic==0.32.5
rosbag2-interfaces==0.26.9
rosbag2-py==0.26.9
rosgraph-msgs==2.0.3
rosidl-adapter==4.6.6
rosidl-cli==4.6.6
rosidl-cmake==4.6.6
rosidl-generator-c==4.6.6
rosidl-generator-cpp==4.6.6
rosidl-generator-py==0.22.1
rosidl-generator-type-description==4.6.6
rosidl-parser==4.6.6
rosidl-pycommon==4.6.6
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.2
rosidl-typesupport-fastrtps-cpp==3.6.2
rosidl-typesupport-introspection-c==4.6.6
rosidl-typesupport-introspection-cpp==4.6.6
rpds-py==0.26.0
rpyutils==0.4.1
rqt-action==2.2.0
rqt-bag==1.5.5
rqt-bag-plugins==1.5.5
rqt-console==2.2.1
rqt-graph==1.5.5
rqt-gui==1.6.0
rqt-gui-py==1.6.0
rqt-msg==1.5.1
rqt-plot==1.4.4
rqt-publisher==1.7.2
rqt-py-common==1.6.0
rqt-py-console==1.2.2
rqt-reconfigure==1.6.2
rqt-service-caller==1.2.1
rqt-shell==1.2.2
rqt-srv==1.2.2
rqt-topic==1.7.3
rtabmap-msgs==0.22.1
rtabmap-python==0.1.0
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1749479934053/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1728724466132/work
Send2Trash==1.8.3
sensor-msgs==5.3.6
sensor-msgs-py==5.3.6
service-msgs==2.0.3
setuptools==80.9.0
shape-msgs==5.3.6
six==1.17.0
slam-toolbox==2.8.3
smclib==4.1.2
sniffio==1.3.1
soupsieve==2.7
srdfdom==2.0.7
sros2==0.13.4
stack-data==0.6.3
statistics-msgs==2.0.3
std-msgs==5.3.6
std-srvs==5.3.6
stereo-msgs==5.3.6
teleop-twist-keyboard==2.4.0
terminado==0.18.1
tf2-geometry-msgs==0.36.14
tf2-kdl==0.36.14
tf2-msgs==0.36.14
tf2-py==0.36.14
tf2-ros-py==0.36.14
tf2-sensor-msgs==0.36.14
tf2-tools==0.36.14
theora-image-transport==4.0.5
tinycss2==1.4.0
topic-monitor==0.33.6
tornado==6.5.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets==5.14.3
trajectory-msgs==5.3.6
truststore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_truststore_1739009763/work
turtlesim==1.8.3
type-description-interfaces==2.0.3
types-python-dateutil==2.9.0.20250708
typing_extensions==4.14.1
unique-identifier-msgs==2.5.0
urdfdom-py==1.2.1
uri-template==1.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
velodyne-msgs==2.5.1
vision-msgs==4.1.1
visualization-msgs==5.3.6
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.45.1
xacro==2.0.13
zstandard==0.23.0
